.confirm-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg3.png");
  background-position: center center;
  background-size: cover;
  color: var(--text);

  @media (320px <= width <= 480px) and (min-height: 741px) {
    height: 85dvh;
  }

  @media (768px <= width <= 1023px) {
    height: 70dvh;
  }

  @media (1024px <= width <= 1279px) {
    height: 55dvh;
  }

  @media (1280px <= width <= 1439px) {
    height: 80dvh;
  }

  @media (1440px <= width <= 1919px) {
    height: 60dvh;
  }

  @media (1920px <= width <= 2600px) {
    height: 75dvh;
  }

  @media (2601px <= width) {
    height: 60dvh;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0 5px;
      color: var(--text);

      @media (320px <= width <= 480px) {
        font-size: 2.2rem;
      }

      @media (768px <= width <= 1023px) {
        font-size: 2.5rem;
      }

      @media (1024px <= width <= 1199px) {
        font-size: 2.6rem;
      }

      @media (1200px <= width <= 1439px) {
        font-size: 2.2rem;
      }

      @media (1440px <= width <= 1919px) {
        font-size: 2rem;
      }

      @media (1920px <= width <= 2600px) {
        font-size: 2.7rem;
      }

      @media (2601px <= width) {
        font-size: 4rem;
      }
    }

    img {
      width: 20%;
      margin-bottom: -45px;
      margin-top: -50px;
    }
  }

  p {
    width: 75%;
    text-align: center;
    margin-top: 1rem;
    font-family: "Playfair Display", serif;
    font-weight: 300;
    color: var(--text);

    @media (320px <= width <= 480px) {
      font-size: 1.2rem;
      margin-top: 2rem;
    }

    @media (768px <= width <= 1023px) {
      font-size: 2rem;
      margin-top: 2rem;
    }

    @media (1024px <= width <= 1279px) {
      width: 60%;
      font-size: 1.7rem;
    }

    @media (1280px <= width <= 1439px) {
      width: 75%;
      font-size: 1.2rem;
    }

    @media (1440px <= width <= 1919px) {
      width: 75%;
      font-size: 1.2rem;
    }

    @media (1920px <= width <= 2600px) {
      width: 65%;
      font-size: 1.5rem;
    }

    @media (2601px <= width) {
      width: 65%;
      font-size: 3rem;
    }
  }

  .btn-whatsapp {
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    font-weight: 500;
    color: #dfb21e;
    background-color: rgb(136, 114, 100);
    font-family: "Playfair Display", serif;

    @media (2601px <= width) {
      border-radius: 80px;
      font-size: 2.5rem;
      padding: 1.3rem 2.5rem;
    }

    .whatsapp-icon {
      font-size: 1.25rem;
      margin-right: 0.5rem;

      @media (2601px <= width) {
        font-size: 2.5rem;
        margin-right: 1rem;
      }
    }
  }

  .pase {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/pase.png");
    background-position: center center;
    background-size: 105%;
    box-shadow: 0px 10px 20px -5px rgba(36, 24, 7, 0.5);

    @media (320px <= width <= 480px) and (min-height: 668px) {
      margin: 3rem 0;
      height: 190px;
    }

    @media (768px <= width <= 1023px) {
      width: 65%;
      height: 190px;
      margin: 2rem 0;
    }

    @media (1024px <= width <= 1279px) {
      width: 60%;
      height: 190px;
      margin: 2rem 0;
    }

    @media (1280px <= width <= 1439px) {
      width: 75%;
      height: 160px;
      margin: 2rem 0;
    }

    @media (1440px <= width <= 1919px) {
      width: 70%;
      height: 170px;
      margin: 2rem 0;
    }

    @media (1920px <= width <= 2600px) {
      width: 60%;
      height: 190px;
      margin: 2rem 0;
    }

    @media (2601px <= width) {
      width: 50%;
      height: 310px;
      margin: 5rem 0;
    }

    .pase-image {
      width: 110%;
    }

    .user-name {
      position: relative;
      font-weight: 500;
      font-family: "Playfair Display", serif;
      color: var(--text);

      @media (320px <= width <= 480px) {
        font-size: 1.5rem;
      }

      @media (768px <= width <= 1023px) {
        font-size: 1.5rem;
      }

      @media (1024px <= width <= 1279px) {
        font-size: 1.5rem;
      }

      @media (1280px <= width <= 1439px) {
        font-size: 1.5rem;
      }

      @media (1440px <= width <= 1919px) {
        font-size: 1.1rem;
      }

      @media (1920px <= width <= 2600px) {
        font-size: 1.2rem;
      }

      @media (2601px <= width) {
        font-size: 2.2rem;
      }
    }

    .pase-count {
      position: relative;
      margin-top: 0.1rem;
      font-size: 1rem;
      font-weight: 500;
      font-family: "Inter", cursive;
      color: var(--text);

      @media (320px <= width <= 480px) and (min-height: 741px) {
        font-size: 1.3rem;
      }

      @media (768px <= width <= 1023px) {
        font-size: 1.3rem;
      }

      @media (1024px <= width <= 1279px) {
        font-size: 1.3rem;
      }

      @media (1280px <= width <= 1439px) {
        font-size: 1rem;
      }

      @media (1440px <= width <= 1919px) {
        font-size: 1rem;
      }

      @media (1920px <= width <= 2600px) {
        font-size: 1rem;
      }

      @media (2601px <= width) {
        font-size: 2rem;
      }
    }

    .pase-no-count {
      display: none;
    }
  }
}
