@media (320px <= width <= 480px) {
  .gif-container {
    margin: 30px 0;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }

        h2 {
          font-size: 2rem;
          margin: 0 5px;
        }
      }

      h4 {
        font-size: 1.5rem;
      }

      img {
        width: 80%;
        margin-bottom: 1rem;
      }

      .dress-description {
        width: 80%;
        font-size: 1.2rem;
        margin-bottom: 30px;

        span {
          font-size: 0.9rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Playfair Display", serif;

        img {
          width: 110%;
          margin: 0.5rem 0 3rem 0;
        }
      }
    }

    .title-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      img {
        width: 20%;
        margin-top: -20px;
      }

      h2 {
        font-size: 2rem;
        font-family: "Playfair Display", serif;
        color: #342619;
        margin: 0 5px 20px 5px;
        line-height: 30px;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 1.2rem;
      font-family: "Playfair Display", serif;
      color: #342619;
      text-align: center;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px;
        border-radius: 30px;
        font-size: 1.2rem;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        margin: 15px 0;
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1rem;
        border: none;
        color: #837769;
        padding: 5px 20px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (768px <= width <= 1023px) {
  .gif-container {
    margin-bottom: 50px;

    .dress-code {
      .title-section {
        img {
          width: 11%;
          margin-bottom: -20px;
        }
        h2 {
          font-size: 2.5rem;
        }
      }

      h4 {
        font-size: 2rem;
      }

      img {
        width: 56%;
      }

      .dress-description {
        width: 80%;
        font-size: 2rem;

        span {
          font-size: 1.5rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 90%;
          margin: 0.5rem 0 3rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
      }

      h2 {
        font-size: 2.5rem;
        margin: 30px 0;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 2rem;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px 25px;
        border-radius: 30px;
        font-size: 1.5rem;
        margin: 25px 0;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1.2rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (1024px <= width <= 1199px) {
  .gif-container {
    margin-bottom: 50px;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }
        h2 {
          font-size: 2.5rem;
        }
      }

      h4 {
        font-size: 2.5rem;
      }

      img {
        width: 50%;
      }

      .dress-description {
        width: 65%;
        font-size: 1.5rem;

        span {
          font-size: 1.1rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 70%;
          margin: 0.5rem 0 3rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
      }

      h2 {
        font-size: 2.5rem;
        margin: 30px 0;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 1.7rem;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px;
        border-radius: 30px;
        font-size: 1.7rem;
        margin: 30px 0;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1.2rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (1200px <= width <= 1439px) {
  .gif-container {
    margin-bottom: 50px;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }
        h2 {
          font-size: 2rem;
        }
      }

      h4 {
        font-size: 2rem;
      }

      img {
        width: 60%;
      }

      .dress-description {
        width: 75%;
        font-size: 1.2rem;

        span {
          font-size: 0.9rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 75%;
          margin: 0.5rem 0 2rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
      }

      h2 {
        font-size: 2rem;
        margin: 30px 0;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 1.2rem;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 1.2rem;
        margin: 30px 0;
        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1.2rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (1440px <= width <= 1919px) {
  .gif-container {
    margin-bottom: 50px;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }
        h2 {
          font-size: 2rem;
        }
      }

      h4 {
        font-size: 2rem;
      }

      img {
        width: 60%;
      }

      .dress-description {
        width: 75%;
        font-size: 1.2rem;

        span {
          font-size: 0.9rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 75%;
          margin: 0.5rem 0 2rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
      }

      h2 {
        font-size: 2rem;
        margin: 30px 0;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 1.2rem;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px 15px;
        border-radius: 30px;
        font-size: 1.2rem;
        margin: 30px 0;

        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1.2rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (1920px <= width <= 2660px) {
  .gif-container {
    margin: 30px 0;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }

        h2 {
          font-size: 2.7rem;
          margin: 0 5px;
          line-height: 30px;
        }
      }

      h4 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }

      img {
        width: 50%;
      }

      .dress-description {
        width: 65%;
        font-size: 1.5rem;

        span {
          font-size: 1.1rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 70%;
          margin: 0.5rem 0 3rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
        margin-top: -25px;
      }

      h2 {
        font-size: 2.7rem;
        margin: 0 5px 20px 5px;
        line-height: 30px;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 1.5rem;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 5px 5px;
        border-radius: 30px;
        font-size: 1.5rem;
        margin: 35px 0;

        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 1.2rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (2601px <= width) {
  .gif-container {
    margin: 30px 0;

    .dress-code {
      .title-section {
        img {
          width: 20%;
          margin-bottom: -20px;
        }

        h2 {
          font-size: 4rem;
          margin: 0 5px;
          line-height: 30px;
        }
      }

      h4 {
        font-size: 4rem;
        margin-bottom: 20px;
      }

      img {
        width: 50%;
      }

      .dress-description {
        width: 65%;
        font-size: 3rem;

        span {
          font-size: 2.5rem;
          font-style: italic;
          font-weight: bold;
        }
      }

      .dress-description-2 {
        width: 80%;
        font-size: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        font-family: "Playfair Display", serif;

        img {
          width: 70%;
          margin: 0.5rem 0 7rem 0;
        }
      }
    }

    .title-section {
      img {
        width: 20%;
        margin-top: -25px;
      }

      h2 {
        font-size: 4rem;
        margin: 0 5px 20px 5px;
        line-height: 30px;
      }
    }

    .gift-text {
      width: 80%;
      font-size: 3rem;
      margin: 2rem 0;
    }

    .bank-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bank {
        border: none;
        padding: 10px;
        border-radius: 50px;
        font-size: 2.5rem;
        margin: 35px 0;

        font-family: "Playfair Display", serif;
        font-weight: 500;
        color: #dfb21e;
        background-color: rgb(136, 114, 100);
        pointer-events: none;
        text-align: center;
      }

      .btn-copy {
        font-size: 2.5rem;
        border: none;
        color: #837769;
        padding: 7px 25px;
        border-radius: 30px;
        background-color: #dfd7cf;
        font-family: "Playfair Display", serif;

        .btn-icon-copy {
          margin-right: 20px;
        }
      }
    }
  }
}

.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/bg4.png");
  background-position: center center;
  background-size: cover;

  .dress-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);

    .title-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h2 {
        font-family: "Playfair Display", serif;
        color: #342619;
        margin: 0 5px;
        line-height: 30px;
      }
    }

    h4 {
      font-family: "Playfair Display", serif;
      font-weight: 800;
      margin-bottom: 20px;
      color: #342619;
    }

    .dress-description {
      font-family: "Playfair Display", serif;
      text-align: center;
    }
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: "Playfair Display", serif;
      color: #342619;
    }
  }

  .gift-text {
    font-family: "Playfair Display", serif;
    color: #342619;
    text-align: center;
  }

  a,
  .bank {
    border-radius: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #dfb21e;
    background-color: rgb(136, 114, 100);

    .gift-icon {
      margin-right: 10px;
    }
  }
}
