@media (320px <= width <= 480px) and (max-height: 667px) {
  .carrusel-container {
    width: 85%;

    .carousel-fade {
      width: 100%;
      min-height: 500px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 100%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top 10% center;
        background-size: 160% !important;
      }

      .slide-container-2 {
        background-position: top 10% center;
        background-size: 140% !important;
      }

      .slide-container-3 {
        background-position: top 10% center;
        background-size: 170% !important;
      }
    }
  }
}

@media (320px <= width <= 480px) and (min-height: 668px) and (max-height: 955px) {
  .carrusel-container {
    width: 85%;

    .carousel-fade {
      width: 100%;
      min-height: 600px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 100%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top 50% center;
        background-size: 150% !important;
      }

      .slide-container-2 {
        background-position: top 10% center;
        background-size: 140% !important;
      }

      .slide-container-3 {
        background-position: top -10% center;
        background-size: 180% !important;
      }
    }
  }
}

@media (320px <= width <= 480px) and (min-height: 956px) {
  .carrusel-container {
    width: 85%;

    .carousel-fade {
      width: 100%;
      min-height: 600px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 100%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top -1rem center;
        background-size: 150% !important;
      }

      .slide-container-2 {
        background-position: top -2rem center;
        background-size: 135% !important;
      }

      .slide-container-3 {
        background-position: top 3rem center;
        background-size: 150% !important;
      }
    }
  }
}

@media (768px <= width <= 1023px) and (orientation: portrait) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 100%;
      min-height: 700px;
      margin: 50px 0 10px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 90%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top 10% center;
        background-size: 135% !important;
      }

      .slide-container-2 {
        background-position: top 10% center;
        background-size: 120% !important;
      }

      .slide-container-3 {
        background-position: top 10% center;
        background-size: 150% !important;
      }
    }
  }
}

@media (1024px <= width <= 1199px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 700px;
      margin: 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 90%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top 100% center;
        background-size: 135% !important;
      }

      .slide-container-2 {
        background-position: top 100% center;
        background-size: 120% !important;
      }

      .slide-container-3 {
        background-position: top 100% center;
        background-size: 150% !important;
      }
    }
  }
}

@media (1200px <= width <= 1439px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 450px;
      margin: 10px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3,
      .slide-container-4 {
        width: 90%;
        height: 450px !important;
      }

      .slide-container-1 {
        background-position: top 0rem center;
        background-size: 135% !important;
      }

      .slide-container-2 {
        background-position: top 0rem center;
        background-size: 120% !important;
      }

      .slide-container-3 {
        background-position: top 0rem center;
        background-size: 150% !important;
      }
    }
  }
}

@media (1440px <= width <= 1919px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 450px;
      margin: 10px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3,
      .slide-container-4 {
        width: 90%;
        height: 450px !important;
      }

      .slide-container-1 {
        background-position: bottom 0rem center;
        background-size: 130% !important;
      }

      .slide-container-2 {
        background-position: bottom 0rem center;
        background-size: 120% !important;
      }

      .slide-container-3 {
        background-position: bottom 0rem center;
        background-size: 130% !important;
      }
    }
  }
}

@media (1920px <= width <= 2660px) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 600px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 90%;
        height: 700px;
      }

      .slide-container-1 {
        background-position: top 0rem center;
        background-size: 130% !important;
      }

      .slide-container-2 {
        background-position: top -2rem center;
        background-size: 120% !important;
      }

      .slide-container-3 {
        background-position: top -2rem center;
        background-size: 150% !important;
      }
    }
  }
}

@media (2661px <= width) {
  .carrusel-container {
    width: 90%;

    .carousel-fade {
      width: 90%;
      min-height: 1000px;
      margin: 50px 0 20px 0;

      .slide-container-1,
      .slide-container-2,
      .slide-container-3 {
        width: 90%;
        height: 1000px;
      }

      .slide-container-1 {
        background-position: top -7rem center;
        background-size: 110% !important;
      }

      .slide-container-2 {
        background-position: top -8rem center;
        background-size: 100% !important;
      }

      .slide-container-3 {
        background-position: top -12rem center;
        background-size: 130% !important;
      }
    }
  }
}

.carrusel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;

  .carousel-fade {
    .slide-container-1,
    .slide-container-2,
    .slide-container-3 {
      background-repeat: no-repeat;
    }
  }
}

.slide-container-1 {
  background-image: url("../../assets/slider/1.jpeg");
}

.slide-container-2 {
  background-image: url("../../assets/slider/2.jpeg");
}

.slide-container-3 {
  background-image: url("../../assets/slider/3.jpeg");
}

.carousel-fade {
  position: relative;
  margin: 20px 50px 20px;
  overflow: hidden;
}

.fade-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.fade-slide.active {
  opacity: 1;
  z-index: 1;
}
