.no-invitation {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/bg4.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  img {
    @media (orientation: portrait) {
      width: 50%;
    }

    @media (orientation: landscape) {
      width: 150px;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: var(--text);
    z-index: 3;
  }

  .return {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    padding: 0.75rem 2rem;
    margin-top: 2rem;
    text-align: center;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #dfb21e;
    background-color: rgb(136, 114, 100);
    font-size: 1.2rem;
  }
}
